<h2 align="center" style="color: bisque;">{{board()}}</h2>
<div>
    <iframe width="560" height="315" [src]="urlSafe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
<div>
    <table>
        <tr>
            <td>
                <h2 style="color: bisque;">{{board()}}</h2>
            </td>
            <td>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button
                    style="width: 100px; height: 40px; margin-top: 10px; background-color: rgb(187, 14, 115); border: none; font-size: 15px; border-radius: 10px;"
                    (click)="navigate()">Watch Movie</button>
            </td>
        </tr>
    </table>
</div>
