<h2 align="center" style="color: bisque;">{{board()}}</h2>
<div >
    <iframe [src]="urlSafe" width="1300" height="650"  allowfullscreen></iframe>;

</div>
<div>
                <h2 style="color: bisque;">{{board()}}</h2>
                <br>
                <h2 style="color: bisque; font-family: Arial">Runtime: {{Runtime()}}</h2>
                <br>
                <h2 style="color: bisque; font-family: Arial">Actors: {{Actors()}}</h2>
                <br>
                <h2 style="color: bisque;  font-family: Arial">Plot: {{Plot()}}</h2>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate-pulse" [fullScreen]="true">
    <p style="color: white"> Connecting to Preflex Server... </p>
</ngx-spinner>