input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 25px;
  }

  .card {
    margin-top: 5%;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(247, 242, 242, 0.2);
    max-width: 400px;
    text-align: center;
    font-family: arial;
    background-color: cornsilk;
  }  

  .md-dialog-container {
    background-color: #000;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    height: 300px; /* Should be removed. Only for demonstration */
  }

  .right {
    width: 80%;
    padding: 10px;
  }

  .left {
    width: 20%;
    padding: 10px;

  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  